[user]
name = Antoine James Tournepiche
email = antoinejt.serveur@gmail.com

[core]
excludesFile = ~/.gitignore_global

[pager]
diff = riff
show = riff
log = riff

[interactive]
diffFilter = riff

[pull]
ff = only

[rerere]
enabled = true

[alias]
pushf = "push --force-with-lease"

[include]
path = ~/.gitconfig_enterprise
